@font-face{
    font-family: bold;
    src: url('SF-Pro-Display-Bold.otf');
}

@font-face{
    font-family: regular;
    src: url('SF-Pro-Display-Regular.otf');
}

@font-face{
    font-family: adam;
    src: url('adam.otf');
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: regular;
    background-color: #232323;
    -webkit-font-smoothing: antialiased;
}

.header {
    text-align: center;
    padding-top: 70px;
}

.header a {
    font-size: 40px;
    color: #F9F9F9;
    font-family: adam;
}
.sidebar {
	position: fixed;
	top: 0px;
	left: 0;
	width: 50px;
	height: 100%;
	background: #1A1A1A;
    z-index: 6;
}

.sidebar a {
    padding: 14px 14px;
    font-size: 18px;
	display: block;
	float: left;
	color: white;
    list-style-type: none;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #4D5CC3;
    color: white;
    border-radius: 100%;
}
.sidebar a:nth-child(7) {
    bottom: 0;
    position: absolute;
    margin-bottom: 60px;;
}

.sidebar a:nth-child(8) {
    bottom: 0;
    position: absolute;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 450px;
    height: 400px;
    text-align: center;
    transition: 0.25s;
    border-radius: 1px;
    background-color: #343434;
    border: 2px solid #3F3F3F;
}

.login input[type="text"], [type="password"] {
    border: 0;
    display: block;
    margin: 30px auto;
    text-align: left;
    padding: 10px 10px;
    width: 300px;
    height: 50px;
    outline: none;
    font-family: regular;
    background: transparent;
    color: white;
    transition: 0.25s;
    font-size: 12px;
    background-color: #383838;
    border: 1px solid #3F3F3F;
}

.login input[type="password"]::placeholder {
    color: #F9F9F9;
}

.login input[type="text"]::placeholder {
    color: #F9F9F9;
}

input:focus {
    background-color: #383838;
    border: 1px solid #3F3F3F;
}

.btn {
    width: auto;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    padding: 14px 20px;
    color: #EDF0F7;
    cursor: pointer;
    border: 1px solid #171F44;
    background-color: #2C3BA0;
    text-transform: uppercase;
    font-family: regular;
    transition: 0.5s;
}

.btn:hover {
    background-color: #4a5bc9;
}
::placeholder {
    color: #000;
    font-family: regular;
    font-size: 15px;
}

.error {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #000;
    font-family: regular;
    text-decoration: none;
    position: fixed;
    text-align: center;
    display: block;
}

.error a {
    font-family: tahoma;
    font-size: 17px;
    text-decoration: none;
    color: #4a5bc9;
}

.error_login {
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 20px;
    font-family: regular;
    text-decoration: none;
    position: fixed;
    text-align: center;
    display: block;
}

.error_login a {
    font-family: regular;
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.draggable {
    width: 220px;
    min-height: 110px;
    float: left;
    margin-bottom:20px;
    color: #000;
    border: 3px solid #363636;
    border-top: solid 10px;
    transition: width 0.2s;
    transition-timing-function: ease;
    animation: my_move 10s infinite;
    background-color: #2C2C2C;
}

@keyframes my_move {
    0% {border-top: solid 15px #3858FB;}
    50% {border-top: solid 15px #28397F;}
    100% {border-top: solid 15px #3858FB;}
}

.left {
    width: 65px;
    height: auto;
    float: left;
    user-select: none;
}

.left_top {
    color: #DFDFDF;
    width: auto;
    height: auto;
    line-height: 50px;
    text-align: center;
    padding-right: 5px;
    user-select: none;
}

.left_top a {
    padding-left: 5px;
    font-size: 25px;
    font-family: bold;
    user-select: none;
    text-align: center;
}
#containment-wrapper {
    overflow: hidden;
}

#containment-wrapper-move{
    background-image: url("/static/bg.jpg");
    background-size: 400px 270px;
}

.left_down {
    width: 100%;
    justify-content: center;
    margin-left: 23px;
    margin-top: -10px;
    background-color: transparent;
}

.left_down i {
    margin-top: 12px;
    color: #DFDFDF;
}

.right {
    width: 150px;
    height: 100%;
    float: left;
    user-select: none;
}

.nodes {
    color: #DFDFDF;
    max-width: 150px;
    font-family: regular;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nodes:first-child {
    margin-top: 10px;
}

.nodes:last-child {
    height: 25px;
}

.nodes i {
    display: inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
}

.tooltip i {
    height: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 165px;
    background-color: #313131;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    border: 2px #3F3F3F solid;
    padding: 5px 0;
    position: absolute;
    z-index: 5;
    left: 110%;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    -webkit-box-shadow: 0px 0px 34px 3px rgba(0,0,0,0.42); 
    box-shadow: 0px 0px 34px 3px rgba(0,0,0,0.42);
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    margin-left: 2px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #3F3F3F transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.container {
    width: 17%;
    height: auto;
    text-align: center;
    margin: 10px 10px;
    float: left;
    border-radius: 20px;
    background-color: #eaeef0;
    border: 10px solid #eaeef0;
    padding: 20px;
    font-size: 25px;
    box-shadow: -8px -8px 15px rgba(255,255,255,1),
    8px 8px 15px rgba(0,0,0,0.2),
    inset 3px 3px 5px rgba(0,0,0,0.1),
    inset -1px -1px 5px rgba(255,255,255,1);
    font-family: regular;
    text-transform: uppercase;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.dashboard {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: none;
}

.all_devices {
    float: left;
    display: inline;
    margin-top: 20px;
    margin-left: 70px;
    width: 400px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 20px;
}

.all_devices .title {
    width: 100%;
    height: auto;
    text-align: left;
}

.all_devices .title a {
    font-family: regular;
    margin-left: 7px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
}

table {
    margin-top: 10px;
}

td {
    font-family: regular;
    font-size: 25px;
    text-align: center;
    color: white;
}

.all_devices .line {
    width: auto;
    height: 30px;
    border-bottom: solid 5px white;
    color: white;
}

th {
    font-size: 18px;
    font-family: regular;
    text-align: center;
    color: white;
}

.currency {
    float: left;
    display: inline;
    margin-top: 50px;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    border: 10px solid #eaeef0;
    background-color: #eaeef0;
    box-shadow: -8px -8px 15px rgba(255,255,255,1),
    8px 8px 15px rgba(0,0,0,0.2),
    inset 3px 3px 5px rgba(0,0,0,0.1),
    inset -1px -1px 5px rgba(255,255,255,1);
    border-radius: 20px;
    color: #000;
    text-align: center;
    line-height: 20px;
    overflow: hidden;
}

.currency .table {
    width: 200px;
}

.currency .title {
    width: 100%;
    height: auto;
    text-align: left;
    background-color: #14e691;
    border-radius: 10px 10px 0 0 ;
    text-transform: uppercase;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.1),
    inset -1px -1px 5px rgba(255,255,255,1);
}

.currency .title a {
    font-family: regular;
    margin-left: 7px;
    letter-spacing: 3px;
}

.currency .line {
    width: auto;
    height: 30px;
    border-bottom: solid 5px #14e691;
}

.copy {
    cursor: pointer;
}

.message {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: regular;
    color: rgb(240, 240, 240);
}

.message a {
    text-decoration:underline;
    color:rgb(240, 240, 240)
}

h1 {
    margin: 40px 0 20px;
}

/* Log */
.log {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    top: 2px;
}

.table-wrapper{
    margin: 10px 70px 70px;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: left;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
    color: black;
}

.fl-table thead th {
    color: #ffffff;
    background-color: #272727;
    font-family: bold;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background-color: #272727;
    border-right: 1px #e7e7e7 solid;
    width: 300px;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
/* Log */

.save {
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    float: right;
    position: fixed;
    text-decoration: none;
    text-align: center;
    display: block;
    z-index: 20;
}

.save_btn {
    display: block;
    background: none;
    padding: 5px 5px;
    font-size: 17px;
    border-radius: 100%;
    color: white;
    border: solid 2px #363636;
    transition: 0.4s;
    margin-top: 5px;
}

.save_btn:hover{
    border: solid 2px #4D5CC3;
    color: #4D5CC3;
    cursor: pointer;
}

.loader {
    position: absolute;
    left: 95px;
    top: 45;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 5px solid #141414;
    border-radius: 50%;
    border-top: 5px solid #2C3BA0;
    border-bottom: 5px solid #2C3BA0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.5s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.bg {
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(22, 22, 22) 50%, rgb(43, 43, 43) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position:fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
  
.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 10s;
}
  
.bg3 {
    animation-duration: 15s;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}
