{% extends "layout.html" %}
{% block content %}
<title>Roshan - Move</title>
<style>
.draggable {cursor:move;}
</style>
<script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<div class="panel">
    <div class="tools">
        <form action="" method="post">
            <select class="move_select" id="mySelect"></select>
            <button class="btn" type="button" onclick="move()">Move</button>
            <button class="btn" onclick="save()">Save</button>
        </form>
    </div>
</div>
<body onload="screen()">
    <script type="text/javascript" src="{{ url_for('static', filename='js/move.js')}}" data-turbolinks-track="reload"></script>
    <div id="containment-wrapper-move">
    </div>
</body>
{% endblock content %}
